
Aula05  - C\#/Aula01/WebApplicationAula01/.vs/WebApplicationAula01/v17/.futdcache.v1
Aula05  - C\#/Aula01/WebApplicationAula01/.vs/WebApplicationAula01/v17/.suo
Aula05  - C\#/Aula01/WebApplicationAula01/obj/Container/ContainerDevelopmentMode.cache
Aula05  - C\#/Aula01/WebApplicationAula01/obj/Container/ContainerId.cache
Aula05  - C\#/Aula01/WebApplicationAula01/obj/Container/ContainerName.cache
Aula05  - C\#/Aula01/WebApplicationAula01/obj/Container/ContainerRunContext.cache
Aula05  - C\#/Aula01/WebApplicationAula01/.vs/WebApplicationAula01/v17/.suo
Aula05  - C\#/Aula01/WebApplicationAula01/.vs/WebApplicationAula01/v17/.suo
.suo
.cache